@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../stylesheets/reset.css);
/* line 7, ../sass/screen.scss */
body {
  width: 1616px;
  margin: 0 auto;
  list-style: none;
  font-family: "Microsoft YaHei", Helvetica, GillSansMT, sans-serif;
}

/* line 13, ../sass/screen.scss */
.presentation {
  width: 100%;
  height: 36px;
  color: #333;
  background: #f3f3f3;
  font-size: 12px;
  line-height: 36px;
}
/* line 20, ../sass/screen.scss */
.presentation .presentation-middle {
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}
/* line 25, ../sass/screen.scss */
.presentation-watch {
  margin-left: 14px;
  color: #4eab46;
  text-decoration: none;
}
/* line 30, ../sass/screen.scss */
.presentation-delete {
  float: right;
}
/* line 32, ../sass/screen.scss */
.presentation-delete span {
  margin-right: 6px;
}

/* line 38, ../sass/screen.scss */
.nav {
  width: 100%;
  height: 57px;
  padding-top: 31px;
}
/* line 42, ../sass/screen.scss */
.nav-middle {
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}
/* line 47, ../sass/screen.scss */
.nav-left {
  display: inline;
  position: relative;
  color: #2a2a2a;
}
/* line 51, ../sass/screen.scss */
.nav-left-title {
  font-size: 22px;
  color: #4eab46;
}
/* line 54, ../sass/screen.scss */
.nav-left-title .bug {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.nav-left-follow {
  position: absolute;
  margin-left: 30px;
  font-size: 12px;
}
/* line 64, ../sass/screen.scss */
.nav-left-follow_care {
  line-height: 21px;
  display: inline-block;
  width: 54px;
  height: 20px;
  margin-right: 14px;
  background: #4eab46;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 3px;
}
/* line 76, ../sass/screen.scss */
.nav-left-follow_care span b {
  color: #fff;
}
/* line 81, ../sass/screen.scss */
.nav-left-follow .followed {
  display: inline-block;
  width: 104px;
  height: 20px;
  background: #F6F6F6;
  border: 1px solid #9d9d9d;
  position: relative;
  margin-top: 2px;
  line-height: 20px;
  text-align: center;
}
/* line 91, ../sass/screen.scss */
.nav-left-follow .followed a {
  text-decoration: none;
  color: #9b9b9b;
}
/* line 95, ../sass/screen.scss */
.nav-left-follow .followed a:hover {
  color: #459947;
}
/* line 99, ../sass/screen.scss */
.nav-left-follow_fans {
  color: #b8b8b8;
  position: absolute;
  top: 7px;
  right: -50px;
}
/* line 104, ../sass/screen.scss */
.nav-left-follow_fans span {
  margin-left: 6px;
}
/* line 110, ../sass/screen.scss */
.nav-right {
  float: right;
  font-size: 16px;
}
/* line 113, ../sass/screen.scss */
.nav-right-class {
  text-decoration: none;
  color: #868686;
  margin-left: 24px;
  margin-right: 24px;
}

/* line 122, ../sass/screen.scss */
.header-banner {
  overflow: hidden;
  width: 100%;
  height: 460px;
  position: relative;
}
/* line 127, ../sass/screen.scss */
.header-banner ul {
  position: absolute;
  left: 0;
  z-index: 1;
}
/* line 132, ../sass/screen.scss */
.header-banner li {
  position: absolute;
  left: 0;
}
/* line 143, ../sass/screen.scss */
.header-banner_btn {
  position: absolute;
  width: 64px;
  height: 10px;
  z-index: 5;
  left: 50%;
  bottom: 20px;
}
/* line 150, ../sass/screen.scss */
.header-banner_btn .on {
  background: black;
}
/* line 153, ../sass/screen.scss */
.header-banner_btn span {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: white;
  margin-right: 11px;
  float: left;
}

/* line 163, ../sass/screen.scss */
.header-class {
  height: 296px;
  position: relative;
  font-size: 14px;
  font-family: "华文仿宋",serif,sans-serif;
  line-height: 25px;
  color: #B8B8B8;
  letter-spacing: 2px;
}
/* line 171, ../sass/screen.scss */
.header-class a:hover {
  text-decoration: underline;
}
/* line 174, ../sass/screen.scss */
.header-class_neteasy {
  width: 270px;
  position: absolute;
  left: 290px;
  top: 62px;
}
/* line 179, ../sass/screen.scss */
.header-class_neteasy h1 {
  font-family: "MicrosoftYaHei",serif,sans-serif;
  font-size: 22px;
  color: #2A2A2A;
  margin-left: 20px;
}
/* line 185, ../sass/screen.scss */
.header-class_neteasy p {
  margin-bottom: 21px;
}
/* line 188, ../sass/screen.scss */
.header-class_neteasy img {
  position: absolute;
  left: -84px;
  top: 12px;
}
/* line 193, ../sass/screen.scss */
.header-class_neteasy a {
  color: #4EAB46;
  text-decoration: none;
}
/* line 198, ../sass/screen.scss */
.header-class_cloud {
  width: 245px;
  position: absolute;
  left: 733px;
  top: 62px;
}
/* line 203, ../sass/screen.scss */
.header-class_cloud h1 {
  font-family: "MicrosoftYaHei",serif,sans-serif;
  font-size: 22px;
  color: #2A2A2A;
  margin-left: 20px;
}
/* line 209, ../sass/screen.scss */
.header-class_cloud p {
  margin-bottom: 21px;
}
/* line 212, ../sass/screen.scss */
.header-class_cloud img {
  position: absolute;
  left: -100px;
  top: 12px;
}
/* line 217, ../sass/screen.scss */
.header-class_cloud a {
  color: #4EAB46;
  text-decoration: none;
}
/* line 222, ../sass/screen.scss */
.header-class_Mooc {
  width: 278px;
  position: absolute;
  left: 1139px;
  top: 62px;
}
/* line 227, ../sass/screen.scss */
.header-class_Mooc h1 {
  font-family: "MicrosoftYaHei",serif,sans-serif;
  font-size: 22px;
  color: #2A2A2A;
  margin-left: 20px;
}
/* line 233, ../sass/screen.scss */
.header-class_Mooc p {
  margin-bottom: 21px;
}
/* line 236, ../sass/screen.scss */
.header-class_Mooc img {
  position: absolute;
  left: -84px;
  top: 12px;
}
/* line 241, ../sass/screen.scss */
.header-class_Mooc a {
  color: #4EAB46;
  text-decoration: none;
}

/* line 247, ../sass/screen.scss */
.header-picture {
  height: 220px;
}

/* line 250, ../sass/screen.scss */
.middle {
  background: #F6F6F6;
}

/* line 253, ../sass/screen.scss */
.main {
  height: 1552px;
  width: 1207px;
  padding-top: 84px;
  margin: 0 auto;
  position: relative;
}
/* line 259, ../sass/screen.scss */
.main-left {
  width: 980px;
}
/* line 262, ../sass/screen.scss */
.main-left_change .check {
  background: #4EAB46;
  color: white;
}
/* line 266, ../sass/screen.scss */
.main-left_change a {
  display: inline-block;
  width: 200px;
  height: 48px;
  font-size: 20px;
  font-family: "华文仿宋",serif,sans-serif;
  text-decoration: none;
  background: #FFFFFF;
  text-align: center;
  margin-right: -4px;
  color: #575757;
}
/* line 277, ../sass/screen.scss */
.main-left_change a span {
  line-height: 48px;
}
/* line 283, ../sass/screen.scss */
.main-left_class {
  margin-top: 28px;
}
/* line 286, ../sass/screen.scss */
.main-left #main-left {
  line-height: 22px;
  width: 222px;
  height: 228px;
  float: left;
  background: white;
  margin-right: 22px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "MicrosoftYaHei",serif,sans-serif;
}
/* line 296, ../sass/screen.scss */
.main-left #main-left #main-left-picture {
  height: 125px;
}
/* line 299, ../sass/screen.scss */
.main-left #main-left #main-left-content {
  height: 104px;
  margin: 6px 10px 0 10px;
  background: url(../images/number.png) no-repeat 0 48px;
}
/* line 303, ../sass/screen.scss */
.main-left #main-left #main-left-content a {
  display: inline-block;
  width: 210px;
  text-decoration: none;
}
/* line 307, ../sass/screen.scss */
.main-left #main-left #main-left-content a:hover {
  color: #78b672;
}
/* line 311, ../sass/screen.scss */
.main-left #main-left #main-left-content span {
  display: block;
  color: #9f9f9f;
}
/* line 315, ../sass/screen.scss */
.main-left #main-left #main-left-content .checked {
  color: red;
  margin-top: 28px;
}
/* line 323, ../sass/screen.scss */
.main-left_class--list {
  margin-left: 656px;
}
/* line 328, ../sass/screen.scss */
.main .list-number {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 5px;
  color: black;
}
/* line 339, ../sass/screen.scss */
.main .list-number:hover, .main .list-checked {
  color: #8DD2A1;
}
/* line 343, ../sass/screen.scss */
.main-right {
  position: absolute;
  left: 980px;
  top: 84px;
  width: 226px;
}
/* line 348, ../sass/screen.scss */
.main-right_organizition {
  background: white;
  height: 230px;
}
/* line 351, ../sass/screen.scss */
.main-right_organizition h1 {
  padding-left: 18px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
}
/* line 357, ../sass/screen.scss */
.main-right_organizition div {
  border-top: 1px solid #E0E0E0;
}
/* line 360, ../sass/screen.scss */
.main-right_organizition p {
  padding-left: 18px;
  margin-top: 20px;
  font-size: 14px;
  color: #9B9B9B;
}
/* line 366, ../sass/screen.scss */
.main-right_organizition a {
  display: inline-block;
  width: 202px;
  height: 110px;
  margin-top: 10px;
  background: url(../images/vidio.png) no-repeat 18px 0;
}
/* line 372, ../sass/screen.scss */
.main-right_organizition a img {
  margin-left: 82px;
  margin-top: 30px;
}

/* line 381, ../sass/screen.scss */
.main-right_hot {
  height: 778px;
  background: white;
  margin-top: 20px;
  position: relative;
}
/* line 386, ../sass/screen.scss */
.main-right_hot h1 {
  padding-left: 18px;
  height: 56px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 56px;
}
/* line 393, ../sass/screen.scss */
.main-right_hot ul {
  list-style: none;
  font-size: 14px;
  color: #3b3b3b;
  border-top: 1px solid #e0e0e0;
  height: 718px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 56px;
}

/* line 405, ../sass/screen.scss */
.hotRank {
  margin-top: 20px;
  padding-left: 18px;
  height: 50px;
  position: relative;
  background: url(../images/people.png) no-repeat 84px 29px;
}
/* line 411, ../sass/screen.scss */
.hotRank a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  width: 123px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: -55px;
  margin-left: 65px;
}
/* line 425, ../sass/screen.scss */
.hotRank img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/* line 430, ../sass/screen.scss */
.hotRank span {
  position: absolute;
  left: 98px;
  top: 26px;
  color: #9D9D9D;
  font-size: 14px;
}

/* line 439, ../sass/screen.scss */
.footer {
  position: relative;
  height: 262px;
  background: #21262B;
}
/* line 443, ../sass/screen.scss */
.footer-address {
  margin-left: 256px;
  padding-top: 94px;
}
/* line 446, ../sass/screen.scss */
.footer-address h1 {
  color: #439326;
  font-size: 22px;
  margin-bottom: 28px;
}
/* line 451, ../sass/screen.scss */
.footer-address span {
  font-size: 12px;
  color: #A0A3A4;
}
/* line 456, ../sass/screen.scss */
.footer-link {
  position: absolute;
  left: 800px;
  top: 82px;
  color: #A0A3A4;
  font-size: 12px;
}
/* line 462, ../sass/screen.scss */
.footer-link h4 {
  margin-bottom: 16px;
}
/* line 465, ../sass/screen.scss */
.footer-link a {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #A0A3A4;
}
/* line 473, ../sass/screen.scss */
.footer-us {
  position: absolute;
  left: 1008px;
  top: 82px;
  color: #A0A3A4;
  font-size: 12px;
  width: 70px;
}
/* line 480, ../sass/screen.scss */
.footer-us h4 {
  margin-bottom: 16px;
}
/* line 483, ../sass/screen.scss */
.footer-us a {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #A0A3A4;
}
/* line 490, ../sass/screen.scss */
.footer-us .care {
  background: url(../images/weibo.png) no-repeat 40px 0;
  height: 20px;
}
/* line 495, ../sass/screen.scss */
.footer-more {
  left: 1142px;
  position: absolute;
  top: 82px;
  color: #A0A3A4;
  font-size: 12px;
}
/* line 501, ../sass/screen.scss */
.footer-more h4 {
  margin-bottom: 16px;
}
/* line 504, ../sass/screen.scss */
.footer-more a {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #A0A3A4;
}

/* line 514, ../sass/screen.scss */
.login {
  display: none;
  width: 386px;
  height: 286px;
  left: 50%;
  top: 50%;
  margin-top: -193px;
  margin-left: -143px;
  position: fixed;
  background: #fff;
  font-family: "华文仿宋", serif, sans-serif;
  z-index: 11;
}
/* line 526, ../sass/screen.scss */
.login-middle {
  width: 296px;
  height: 222px;
  margin: 30px auto 38px auto;
  color: #2a2a2a;
}
/* line 532, ../sass/screen.scss */
.login h1 {
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 536, ../sass/screen.scss */
.login input {
  width: 294px;
  height: 42px;
  color: #9d9d9d;
  font-size: 18px;
  line-height: 42px;
  background: #F9F9F9;
  border: 1px solid #D7D7D7;
  text-indent: 12px;
}
/* line 546, ../sass/screen.scss */
.login-password {
  margin-top: 14px;
  margin-bottom: 28px;
}
/* line 550, ../sass/screen.scss */
.login-in {
  width: 294px;
  height: 42px;
  background: #49A037;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border: 0;
}
/* line 559, ../sass/screen.scss */
.login-close {
  position: absolute;
  top: 10px;
  right: 8px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/close.gif") no-repeat;
}

/* line 570, ../sass/screen.scss */
.background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  opacity: .5;
  z-index: 10;
}

/* line 582, ../sass/screen.scss */
.video {
  display: none;
  position: fixed;
  width: 950px;
  height: 674px;
  left: 50%;
  top: 50%;
  margin-left: -475px;
  margin-top: -337px;
  background: white;
  z-index: 11;
  color: #333333;
}
/* line 594, ../sass/screen.scss */
.video a {
  float: right;
  margin-right: 12px;
  margin-top: 8px;
  font-size: 16px;
}
/* line 600, ../sass/screen.scss */
.video h1, .video video {
  margin-left: 32px;
  font-size: 18px;
}
/* line 604, ../sass/screen.scss */
.video h1 {
  margin-top: 30px;
  margin-bottom: 22px;
}
