/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../stylesheets/reset.css";
body{
	width: 1616px;
	margin:0 auto;
	list-style:none;
	font-family:"Microsoft YaHei", Helvetica, GillSansMT, sans-serif;
}
.presentation{
	width: 100%;
	height: 36px;
	color:#333;
	background:#f3f3f3 ;
	font-size:12px ;
	line-height: 36px;
	.presentation-middle{
		width:1206px;
		margin-left: auto;
		margin-right: auto;
	}
	&-watch{
		margin-left: 14px;
		color: #4eab46;
		text-decoration: none;
	}
	&-delete{
		float: right;
		span{
			margin-right: 6px;
		}
	}

}
.nav{
	width: 100%;
	height: 57px;
	padding-top:31px;
	&-middle{
		width: 1206px;
		margin-left: auto;
		margin-right: auto;
	}
	&-left{
		display: inline;
		position:relative;
		color: #2a2a2a;
		&-title{
			font-size: 22px;
			color: #4eab46;
				.bug{
					margin-left: 10px;
					margin-right: 10px;
				}

		}
		&-follow{
			position: absolute;
			margin-left: 30px;
			font-size: 12px;
			&_care{
				line-height: 21px;
				display: inline-block;
				width: 54px;
				height: 20px;
				margin-right: 14px;
				background: #4eab46;
				color: #fff;
				text-decoration: none;
				text-align: center;
				margin-top: 3px;
				span{
					b{
						color: #fff;
					}
				}
			}
			.followed{
				display: inline-block;
				width: 104px;
				height: 20px;
				background: #F6F6F6;
				border: 1px solid #9d9d9d;
				position: relative;
				margin-top: 2px;
				line-height: 20px;
				text-align: center;
				a{
					text-decoration: none;
					color: #9b9b9b;
				}
				a:hover{
					color: #459947;
				}
			}
			&_fans{
				color: #b8b8b8;
				position: absolute;
				top: 7px;
				right: -50px;
				span{
					margin-left: 6px;
				}
			}
		}
	}
	&-right{
		float: right;
		font-size: 16px;
		&-class{
			text-decoration: none;
			color: #868686;
			margin-left:24px;
			margin-right: 24px;
		}

	}
}
.header-banner{
	overflow:hidden;
	width: 100%;
	height: 460px;
	position: relative;
	ul{
		width: 4956px;
		position: absolute;
		left: 0;
		z-index: 1;

	}
	li{
		float: left;
	}
	//增添
	//img{
	//	display: none;
	//}
	//.on{
	//	display: list-item;
	//}
	&_btn{
		position: absolute;
		width: 64px;
		height: 10px;
		z-index: 5;
		left: 50%;
		bottom: 20px;
		.on{
			background: black;
		}
		span{
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background: white;
			margin-right: 11px;
			float: left;
		}
	}
}
.header-class{
	height:296px;
	position:relative;
	font-size: 14px;
	font-family: "华文仿宋",serif,sans-serif;
	line-height: 25px;
	color: #B8B8B8;
	letter-spacing:2px;
	a:hover{
		text-decoration: underline;
	}
	&_neteasy{
		width: 270px;
		position:absolute;
		left: 290px;
		top:62px;
		h1{
			font-family: "MicrosoftYaHei",serif,sans-serif;
			font-size: 22px;
			color: #2A2A2A;
			margin-left:20px;
		}
		p{
			margin-bottom: 21px;
		}
		img{
			position:absolute;
			left: -84px;
			top: 12px;
		}
		a{
			color: #4EAB46;
			text-decoration: none;
		}
	}
	&_cloud{
		width: 245px;
		position:absolute;
		left:733px; 
		top: 62px;
		h1{
			font-family: "MicrosoftYaHei",serif,sans-serif;
			font-size: 22px;
			color: #2A2A2A;
			margin-left:20px;
		}
		p{
			margin-bottom: 21px;
		}
		img{
			position:absolute;
			left: -100px;
			top: 12px;
		}
		a{
			color: #4EAB46;
			text-decoration: none;
		}
	}
	&_Mooc{
		width: 278px;
		position:absolute;
		left: 1139px;
		top: 62px;
		h1{
			font-family: "MicrosoftYaHei",serif,sans-serif;
			font-size: 22px;
			color: #2A2A2A;
			margin-left:20px;
		}
		p{
			margin-bottom: 21px;
		}
		img{
			position:absolute;
			left: -84px;
			top: 12px;
		}
		a{
			color: #4EAB46;
			text-decoration: none;
		}
	}
}
.header-picture{
	height:220px;
}
.middle{
      background:#F6F6F6;
}
.main{
	height:1552px;
	width:1207px;
	padding-top:84px;
	margin: 0 auto;
	position:relative;
	&-left{
		width: 980px;
		&_change{
			.check{
				background: #4EAB46;
				color: white;
			}
			a{
			display: inline-block;
			width: 200px;
			height: 48px;
			font-size: 20px;
			font-family: "华文仿宋",serif,sans-serif;
			text-decoration: none;
			background:#FFFFFF;
			text-align: center;
			margin-right:-4px;
			color: #575757;
			span{
				line-height: 48px;
			}

		}
		}
		&_class {
			margin-top: 28px;
		}
			#main-left{
				line-height: 22px;
				width: 222px;
				height: 228px;
				float: left;
				background:white;
				margin-right: 22px;
				margin-bottom: 20px;
				font-size:12px; 
				font-family: "MicrosoftYaHei",serif,sans-serif;
				#main-left-picture{
					height: 125px;
				}
				#main-left-content {
					height: 104px;
					margin: 6px 10px 0 10px;
					background: url(../images/number.png) no-repeat 0 48px;
					a {
						display: inline-block;
						width: 210px;
						text-decoration: none;
						&:hover {
							color: #78b672;
						}
					}
					span {
						display: block;
						color: #9f9f9f;
					}
					.checked {
						color: red;
						margin-top: 28px;
					}
					
				}
			}

		&_class--list{
			margin-left:656px;
		}
	}
	//页面数字
	.list-number{
		display: inline-block;
		text-align: center;
		line-height: 20px;
		width: 20px;
		height: 20px;
		text-decoration: none;
		margin-right:5px;
		margin-top: 5px;
		color: black;
	}
	.list-number:hover,.list-checked{
		//background: #8DD2A1;
		color: #8DD2A1;
	}
	&-right{
		position:absolute;
		left: 980px;
		top: 84px;
		width: 226px;
		&_organizition{
			background:white;
			height: 230px;
			h1{
				padding-left:18px;
				height: 54px;
				line-height: 54px;
				font-size: 16px;
			}
			div{
				border-top: 1px solid #E0E0E0;
			}
			p{
				padding-left:18px;
				margin-top: 20px;
				font-size: 14px;
				color: #9B9B9B;
			}
			a{
				display: inline-block;
				width: 202px;
				height: 110px;
				margin-top: 10px;
				background:url(../images/vidio.png) no-repeat 18px 0;
				img{
					margin-left: 82px;
					margin-top: 30px;
				}
			}
		}
	}
}
//重写右侧最热排行
.main-right_hot {
	height: 778px;
	background: white;
	margin-top: 20px;
	position: relative;
	h1 {
		padding-left: 18px;
		height: 56px;
		border-bottom: 1px solid #e0e0e0;
		font-size: 16px;
		line-height: 56px;
	}
	ul {
		list-style: none;
		font-size: 14px;
		color: #3b3b3b;
		border-top: 1px solid #e0e0e0;
		height: 718px;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 56px;
	}
}
	.hotRank{
		margin-top:20px;
		padding-left:18px;
		height: 50px;
		position:relative;
		background:url(../images/people.png) no-repeat 84px 29px;
		a{
			text-decoration: none;
			font-size: 14px;
			color: black;
			//position:absolute;
			//left: 82px;
			width: 123px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			margin-top: -55px;
			margin-left: 65px;
		}
		img{
			width: 50px;
			height: 50px;
			object-fit: cover;
		}
		span{
			position:absolute;
			left: 98px;
			top:26px;
			color: #9D9D9D;
			font-size: 14px;

		}
	}
.footer{
	position:relative;
	height:262px;
	background:#21262B;
	&-address{
		margin-left: 256px;
		padding-top: 94px;
		h1{
			color:#439326;
			font-size:22px;
			margin-bottom: 28px;
		}
		span{
			font-size: 12px;
			color: #A0A3A4;
		}
	}
	&-link{
		position:absolute;
		left: 800px;
		top: 82px;
		color:  #A0A3A4;
		font-size: 12px;
		h4{
			margin-bottom: 16px;
		}
		a{
			display: block;
			font-size: 14px;
			margin-bottom: 16px;
			text-decoration: none;
			color:   #A0A3A4;
		}
	}
	&-us{
		position:absolute;
		left: 1008px;
		top: 82px;
		color:  #A0A3A4;
		font-size: 12px;
		width: 70px;
		h4{
			margin-bottom: 16px;
		}
		a{
			display: block;
			font-size: 14px;
			margin-bottom: 16px;
			text-decoration: none;
			color:   #A0A3A4;
		}
		.care{
			background:url(../images/weibo.png) no-repeat 40px 0;
			height: 20px;
		}
	}
	&-more{
		left: 1142px;
		position:absolute;
		top: 82px;
		color:  #A0A3A4;
		font-size: 12px;
		h4{
			margin-bottom: 16px;
		}
		a{
			display: block;
			font-size: 14px;
			margin-bottom: 16px;
			text-decoration: none;
			color:   #A0A3A4;
		}
	}
}
//登录
.login{
	display: none;
	width: 386px;
	height: 286px;
	left: 50%;
	top: 50%;
	margin-top: -193px;
	margin-left: -143px;
	position: fixed;
	background: #fff;
	font-family: "华文仿宋", serif, sans-serif;
	z-index: 11;
	&-middle{
		width: 296px;
		height: 222px;
		margin: 30px auto 38px auto;
		color: #2a2a2a;
	}
	h1{
		font-size: 18px;
		margin-bottom: 20px;
	}
	input{
		width: 294px;
		height: 42px;
		color: #9d9d9d;
		font-size: 18px;
		line-height: 42px;
		background: #F9F9F9;
		border: 1px solid #D7D7D7;
		text-indent: 12px;
	}
	&-password{
		margin-top: 14px;
		margin-bottom: 28px;
	}
	&-in{
		width: 294px;
		height: 42px;
		background: #49A037;
		text-align: center;
		font-size: 18px;
		color: #fff;
		border: 0;
	}
	&-close{
		position: absolute;
		top: 10px;
		right: 8px;
		display: inline-block;
		width: 12px;
		height: 12px;
		background: url("../images/close.gif") no-repeat;

	}
}
.background{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #262626;
	opacity: .5;
	z-index: 10;
}
//视频播放
.video{
	display: none;
	position: fixed;
	width: 950px;
	height: 674px;
	left: 50%;
	top: 50%;
	margin-left: -475px;
	margin-top: -337px;
	background: white;
	z-index: 11;
	color: #333333;
	a{
		float: right;
		margin-right: 12px;
		margin-top: 8px;
		font-size: 16px;
	}
	h1,video{
		margin-left: 32px;
		font-size: 18px;
	}
	h1{
		margin-top: 30px;
		margin-bottom: 22px;
	}
}
